html{
    overflow-y:hidden;
    overflow-x:hidden;
}
body {
    margin:0px;
    height:100%;
}
/*开场logo*/
@keyframes change_alpha{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes change_alpha{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes change_alpha{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes change_alpha{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#logo{
    width: 100px;
    height: 100px;
    background-image: url("../image/logo.png");
    background-size: cover;
    cursor:auto;
    opacity:1;
    z-index:3;
    animation:change_alpha 4s linear;
    -moz-animation:change_alpha 4s linear;
    -o-animation:change_alpha 4s linear;
    -webkit-animation:change_alpha 4s linear;
}

/*中间旋转动画*/
.circle_background {
    width: 200px;
    height: 200px;
    opacity:0;
    background-image: url("../image/elipse_bg.png");
    background-size: cover;
}

@keyframes inner{
    from {
        transform:scale(0.7,0.7);
        opacity: 0;
    }
    to{
         transform:scale(1.5,1.5);
        opacity: 1;
    }
}
@-webkit-keyframes inner{
    from {
        transform:scale(0.7,0.7);
        opacity: 0;
    }
    to{
         transform:scale(1.5,1.5);
        opacity: 1;
    }
}
@-moz-keyframes inner{
    from {
        transform:scale(0.7,0.7);
        opacity: 0;
    }
    to{
         transform:scale(1.5,1.5);
        opacity: 1;
    }
}
@-o-keyframes inner{
    from {
        transform:scale(0.7,0.7);
        opacity: 0;
    }
    to{
         transform:scale(1.5,1.5);
        opacity: 1;
    }
}
#inner{
     width: 200px;
     height: 200px;
     opacity:0;
     z-index:1;
     background-image: url("../image/inner_bg.png");
     background-size: cover;
     animation:inner 1s 3s linear forwards;
    -moz-animation:inner 1s 3s linear forwards;
    -webkit-animation:inner 1s 3s linear forwards;
    -o-animation:inner 1s 3s linear forwards;
}

@keyframes outter{
    from {
        transform:scale(2,2);
        opacity: 0;
    }
    to{
         transform:scale(5,5);
        opacity: 0.7;
    }
}
@-webkit-keyframes outter{
    from {
        transform:scale(2,2);
        opacity: 0;
    }
    to{
         transform:scale(5,5);
        opacity: 0.7;
    }
}
@-moz-keyframes outter{
    from {
        transform:scale(1.5,1.5);
        opacity: 0;
    }
    to{
         transform:scale(6,6);
        opacity: 0.7;
    }
}
@-o-keyframes outter{
    from {
        transform:scale(1.5,1.5);
        opacity: 0;
    }
    to{
         transform:scale(6,6);
        opacity: 0.7;
    }
}

#outter{
     width: 200px;
     height: 200px;
     opacity:0;
     background-image: url("../image/elipse_bg.png");
     background-size: cover;
     animation:outter 0.7s 3.3s linear forwards;
    -moz-animation:outter 0.7s 3.3s linear forwards;
    -webkit-animation:outter 0.7s 3.3s linear forwards;
    -o-animation:outter 0.7s 3.3s linear forwards;
}
/*四大行的图标*/
@keyframes icon_rotate{
  from {
        transform:rotate(0deg);
    }
    to{
       transform:rotate(-360deg);
    }
}
@-webkit-keyframes icon_rotate{
    from {
        transform:rotate(0deg);
    }
    to{
       transform:rotate(-360deg);
    }
}
@-moz-keyframes icon_rotate{
   from {
        transform:rotate(0deg);
    }
    to{
       transform:rotate(-360deg);
    }
}
@-o-keyframes icon_rotate{
  from {
        transform:rotate(0deg);
    }
    to{
       transform:rotate(-360deg);
    }
}

#abc{
    background-image: url("../image/abc.png");
}

#bocom{
    background-image: url("../image/bocom.png");
}

#ccb{
    background-image: url("../image/ccb.png");
}

#icbc{
    background-image: url("../image/icbc.png");
}

/*银行图标的类*/
.icons{
    width:80px;
    height:80px;
    opacity:1;
    position:absolute;
    background-size: cover;
    display:none;
    cursor:pointer;
    z-index:2;
}

#bank{
    width:440px;
    height:440px;
    position:absolute;
    left:50px;
    top:50px;
    z-index:1;
}

/*银行照片*/
@keyframes abc{
    from {
        top:-200px;
        left:-200px;
        opacity:0;
    }
    to{
        top:80px;
        left:180px;
        opacity:1;
    }
}
@-webkit-keyframes abc{
    from {
        top:-200px;
        left:-200px;
        opacity:0;
    }
    to{
        top:80px;
        left:180px;
        opacity:1;
    }
}
@-moz-keyframes abc{
    from {
        top:-200px;
        left:-200px;
        opacity:0;
    }
    to{
        top:80px;
        left:180px;
        opacity:1;
    }
}
@-o-keyframes abc{
    from {
        top:-200px;
        left:-200px;
        opacity:0;
    }
    to{
        top:80px;
        left:180px;
        opacity:1;
    }
}
#abc_building{
     background-image: url("../image/abc_building_before.png");
     animation:abc 0.7s 4s ease-in-out forwards;
    -moz-animation:abc 0.7s 4s ease-in-out forwards;
    -webkit-animation:abc 0.7s 4s ease-in-out forwards;
    -o-animation:abc 0.7s 4s ease-in-out forwards;
}

#abc_bank{
     opacity:0;
     cursor:auto;
     background-image: url("../image/abc_building_before.png");
}

#abc_bank:hover{
    background-image:url("../image/abc_building_after.png");
}
@keyframes bocom{
    from {
        bottom:-200px;
        left:-200px;
        opacity:0;
    }
    to{
        bottom:150px;
        left:180px;
        opacity:1;
    }
}
@-webkit-keyframes bocom{
    from {
        bottom:-200px;
        left:-200px;
        opacity:0;
    }
    to{
        bottom:150px;
        left:180px;
        opacity:1;
    }
}
@-moz-keyframes bocom{
    from {
        bottom:-200px;
        left:-200px;
        opacity:0;
    }
    to{
        bottom:150px;
        left:180px;
        opacity:1;
    }
}
@-o-keyframes bocom{
    from {
        bottom:-200px;
        left:-200px;
        opacity:0;
    }
    to{
        bottom:150px;
        left:180px;
        opacity:1;
    }
}

#bocom_building{
     background-image: url("../image/bocom_building_before.png");
     animation:bocom 0.7s 4s ease-in-out forwards;
    -moz-animation:bocom 0.7s 4s ease-in-out forwards;
    -webkit-animation:bocom 0.7s 4s ease-in-out forwards;
    -o-animation:bocom 0.7s 4s ease-in-out forwards;
}

#bocom_bank{
    opacity:0;
    cursor:auto;
    background-image: url("../image/bocom_building_before.png");
}

#bocom_bank:hover{
    background-image:url("../image/bocom_building_after.png");
}


@keyframes ccb{
    from {
        top:-200px;
        right:-200px;
        opacity:0;
    }
    to{
        top:80px;
        right:180px;
        opacity:1;
    }
}
@-webkit-keyframes ccb{
    from {
        top:-200px;
        right:-200px;
        opacity:0;
    }
    to{
        top:80px;
        right:180px;
        opacity:1;
    }
}
@-moz-keyframes ccb{
    from {
        top:-200px;
        right:-200px;
        opacity:0;
    }
    to{
        top:80px;
        right:180px;
        opacity:1;
    }
}
@-o-keyframes ccb{
    from {
        top:-200px;
        right:-200px;
        opacity:0;
    }
    to{
        top:80px;
        right:180px;
        opacity:1;
    }
}

#ccb_building {
     background-image: url("../image/ccb_building_before.png");
     animation:ccb 0.7s 4s ease-in-out forwards;
    -moz-animation:ccb 0.7s 4s ease-in-out forwards;
    -webkit-animation:ccb 0.7s 4s ease-in-out forwards;
    -o-animation:ccb 0.7s 4s ease-in-out forwards;
}

#ccb_bank{
    opacity:0;
    cursor:auto;
    background-image: url("../image/ccb_building_before.png");
}

#ccb_bank:hover{
    background-image:url("../image/ccb_building_after.png");
}

@keyframes icbc{
    from {
        bottom:-200px;
        right:-200px;
        opacity:0;
    }
    to{
        bottom:150px;
        right:180px;
        opacity:1;
    }
}
@-webkit-keyframes icbc{
    from {
        bottom:-200px;
        right:-200px;
        opacity:0;
    }
    to{
        bottom:150px;
        right:180px;
        opacity:1;
    }
}
@-moz-keyframes icbc{
    from {
        bottom:-200px;
        right:-200px;
        opacity:0;
    }
    to{
        bottom:150px;
        right:180px;
        opacity:1;
    }
}
@-o-keyframes icbc{
    from {
        bottom:-200px;
        right:-200px;
        opacity:0;
    }
    to{
        bottom:150px;
        right:180px;
        opacity:1;
    }
}

#icbc_building{
     background-image: url("../image/icbc_building_before.png");
     animation:icbc 0.7s 4s ease-in-out forwards;
    -moz-animation:icbc 0.7s 4s ease-in-out forwards;
    -webkit-animation:icbc 0.7s 4s ease-in-out forwards;
    -o-animation:icbc 0.7s 4s ease-in-out forwards;
}

#icbc_bank{
    opacity:0;
    cursor:auto;
    background-image: url("../image/icbc_building_before.png");
}

#icbc_bank:hover{
    background-image: url("../image/icbc_building_after.png");
}

/*银行建筑图片的类*/
.banks{
     width: 200px;
     height: 200px;
     opacity:0;
     z-index:0;
     position:absolute;
     background-size: contain;
     background-repeat:no-repeat;
     background-position:bottom;
     cursor:pointer;
}



/*银行介绍的类*/
.bank_info{
    width:450px;
    height:450px;
    position:absolute;
    display:none;
    background-size: contain;
    background-repeat:no-repeat;
}

#abc_info{
    background-image:url("../image/abc_info.png");
}

#bocom_info{
    background-image:url("../image/bocom_info.png");
}

#ccb_info{
    background-image:url("../image/ccb_info.png");
}

#icbc_info{
    background-image:url("../image/icbc_info.png");
}

/*跳转主页的按键*/
.goto{
    top:-80px;
    width:80px;
    height:80px;
    position:absolute;
    background-size: contain;
    background-repeat:no-repeat;
    cursor:pointer;
}
#goto_abc{
    background-image:url("../image/goto_abc_before.png");
}
#goto_abc:hover{
    background-image:url("../image/goto_abc_after.png");
}

#goto_bocom{
    background-image:url("../image/goto_bocom_before.png");
}
#goto_bocom:hover{
    background-image:url("../image/goto_bocom_after.png");
}

#goto_ccb{
    background-image:url("../image/goto_ccb_before.png");
}
#goto_ccb:hover{
    background-image:url("../image/goto_ccb_after.png");
}

#goto_icbc{
    background-image:url("../image/goto_icbc_before.png");
}
#goto_icbc:hover{
    background-image:url("../image/goto_icbc_after.png");
}

/*箭头的样式*/
.arrow{
    width:70px;
    height:70px;
    position:absolute;
    background-size: contain;
    background-repeat:no-repeat;
    cursor:pointer;
}
#arrowR{
    z-index:2;
    top:0;
    left:0;
    background-image:url("../image/arrowR.png");
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
#arrowR:hover{
    -webkit-transform:translateX(-10px);
    -moz-transform:translateX(-10px);
    -o-transform:translateX(-10px);
    transform:translateX(-10px);
}

#arrowL{
    z-index:2;
    top:0;
    left:0;
    position:absolute;
    background-image:url("../image/arrowL.png");
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
#arrowL:hover{
    -webkit-transform:translateX(10px);
    -moz-transform:translateX(10px);
    -o-transform:translateX(10px);
    transform:translateX(10px);
}

#arrowB{
    z-index:2;
    top:0;
    left:0;
    background-image:url("../image/abc_arrowU.png");
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
#arrowB:hover{
    -webkit-transform:translateY(10px);
    -moz-transform:translateY(10px);
    -o-transform:translateY(10px);
    transform:translateY(10px);
}
/*计划的按钮*/
#plan{
	position:absolute;
	top:-20px;
	left:150px;
	width:100px;
    height:100px;
    background-size: contain;
    background-repeat:no-repeat;
    cursor:pointer;
    background-image:url("../image/plan.png");
}
.plan-movein{
    -webkit-animation: movefromtop 1s 4s both ease-in-out;
	-moz-animation: movefromtop 1s 4s both ease-in-out;
	-o-animation: movefromtop 1s 4s both ease-in-out;
    animation: movefromtop 1s 4s both ease-in-out;
}

.plan-touch{
	
}
.plan-touch:hover{
    -webkit-transform:translateY(10px);
    -moz-transform:translateY(10px);
    -o-transform:translateY(10px);
    transform:translateY(10px);
}

@-webkit-keyframes movefromtop {
	from {  -webkit-transform: translateY(-100%);}
	to { -webkit-transform: translateY(0px); }
}
@-moz-keyframes movefromtop {
	from {  -moz-transform: translateY(-100%);}
	to { -moz-transform: translateY(0px); }
}
@-o-keyframes movefromtop {
	from {  -o-transform: translateY(-100%);}
	to { -o-transform: translateY(0px); }
}
@keyframes movefromtop {
	from {  transform: translateY(-100%);}
	to { transform: translateY(0px); }
}


@-webkit-keyframes movetotop {
	to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes movetotop {
	to { -moz-transform: translateY(-100%); }
}
@-o-keyframes movetotop {
	to { -o-transform: translateY(-100%); }
}
@keyframes movetotop {
	to { transform: translateY(-100%); }
}
.benefit{
	width:100px;
    height:100px;
    background-size: contain;
    background-repeat:no-repeat;
    background-image:url("../image/benefitdiv.png");
}
.benefit-movein{
    -webkit-animation: movefromtop 0.5s 0s both ease-in-out;
	-moz-animation: movefromtop 0.5s 0s both ease-in-out;
	-o-animation: movefromtop 0.5s 0s both ease-in-out;
    animation: movefromtop 0.5s 0s both ease-in-out;
}

.benefit-moveout{
    -webkit-animation: movetotop 0.5s 0s both ease-in-out;
	-moz-animation: movetotop 0.5s 0s both ease-in-out;
	-o-animation: movetotop 0.5s 0s both ease-in-out;
    animation: movetotop 0.5s 0s both ease-in-out;
}