
/*信息的承载体*/
#info{
    margin-left:20px;
    position:absolute;
    display:none;
    z-index:3;
}

/*展示的产品*/
.detailProduction {
    float: left;
    width: 158px;
    height: 144px;
    padding: 15px 10px;
    z-index:3;
    display: inline;
    background: url("../image/product_bg.png") no-repeat;
    position: absolute;
    cursor:pointer;
}
.detailTitle {
    float: left;
    height: 30px;
    width: 100%;
    z-index:3;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.detailTitleS {
    float: left;
    width: 100%;
    z-index:3;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
}

.detailBanlance {
    font-family: 微软雅黑;
    float: left;
    width: 100%;
    line-height: 40px;
    font-size: 24px;
    color: #ff8a00;
    font-weight: bold;
    text-align: center;
    z-index:3;
}
/*产品的具体信息*/
.information_list {
    border: 0;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    z-index:1;
}
#information {
    float: left;
    width: 600px;
    height:210px;
    margin: 0 15px;
    display: inline;
    position:absolute;
    z-index:1;
}
.th{
	min-width: 100px;
}